.photoContainer {
    position: relative;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
}

.photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.uploadWrapper {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.uploadWrapperCircle {
    position: absolute;
    bottom: 0px;
    right: -5px;
}